.signin {
    background: #fff;
    padding: 15px;
    color: #000;
    // border: 4px solid #ff3860;
    border-radius: 10px;
    .timeline {
        .timeline-header {
            display: block;
        }
    }
    .button{
        &.is-buy, &.is-rent{
            opacity: 0.5;
            &.is-active{
                opacity: 1;
            }
        }
    }
}
.valid {
    button {
        margin: 10px auto;
    }
}
.top{
    i {
        margin-right: 10px;
    }
    span {
        text-transform: uppercase;
    }
}
.signin-button{
    color: #0071ff;
    cursor: pointer;
}
